body, .sidebar {
    background-color: #fff9fb;
    color: #25374b;
}

.content h1, 
.content h2, 
.content h3, 
.content h4 {
    color: #20A39E !important ;
}

a {
    color: #BB0A21 !important;
}
a:hover {
    color: #d37380 !important;
}

