/* Tema claro padrão */
body, .sidebar {
  background-color: #fff9fb;
  color: #25374b;
}

h1, h2, h3, h4 {
  color: #20A39E;
}

/* LINKS DO CONTEÚDO PRINCIPAL */
.content a {
  color: #BB0A21;
}
.content a:hover {
  color: #d37380;
}

/* Códigos */
code {
  background-color: #f0f0f0;
  color: #20A39E;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
}

/* LINKS DA SIDEBAR */
.sidebar a {
  color: #25374b;
}
.sidebar a:hover {
  color: #d37380;
}

.sidebar>h1 a {
    color: #BB0A21;
}

.sidebar ul li.active>a {
    color: #BB0A21;
}

/* Barras do menu hambúrguer - tema claro */
.sidebar-toggle-button span {
  background-color: #BB0A21; /* cor desejada */
  transition: background-color 0.3s ease;
}




@media (prefers-color-scheme: dark) {
  body, .sidebar {
    background-color: #25374b;
    color: #e7e7e7;
  }

  h1, h2, h3, h4 {
    color: #6ee7b7;
  }

.anchor span {
    color: #fff9fb;
}



  .content a {
    color: #42b983;
  }

  .content a:hover {
    color: #ffbdbd;
  }

  /* Corrigindo estilos do <code> */
  .content code {
    background-color: #74512e !important;  /* cor de fundo amarelada */
    color: #ff8811 !important;             /* cor do texto */
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
  }

  /* Também pode afetar <pre><code> */
  .content pre code {
    background-color: #74512e !important;
    color: #ffdd99 !important;
  }

    .content a:hover {
    color: #73dbac;
  }

  .sidebar a {
    color: #e7e7e7;
  }

  .sidebar a:hover {
    color: #6ee7b7;
  }

   .sidebar-toggle-button span {
    background-color: #42b983; /* cor clara para tema escuro */
  }

  .sidebar-toggle {
    background-color: #25374b;
  }

  .sidebar>h1 a {
    color: #42b983;
}

.sidebar ul li.active>a {
    color: #42b983;
}

}