body, .sidebar {
    background-color: #fff9fb;
    color: #25374b ;
}


a {
    color: #BB0A21 !important;
}
a:hover {
    color: #d37380 !important;
}

code {
    background-color: #f0f0f0 !important;
    color: #20A39E !important;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

/* Links da sidebar (índice, navegação lateral) */
.sidebar a {
    color: #25374b !important; /* mesma cor do texto normal */
}

/* Quando passa o mouse, opcionalmente muda */
.sidebar a:hover {
    color: #20A39E !important; /* cor do destaque ao passar o mouse */
}


@media (prefers-color-scheme: dark) {
  body, .sidebar {
    background-color: #25374b;
    color: #e7e7e7;
  }

  h1, h2, h3, h4 {
    color: #6ee7b7;
  }

  .content a {
    color: #581908;
  }
  .content a:hover {
    color: #5a2618 ;
  }

  code {
    background-color: #74512e !important;
    color: #ff8811 !important;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

  .sidebar a {
    color: #e7e7e7;
  }
  .sidebar a:hover {
    color: #74512e;
  }
}
